[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
vertexai = "*"
google-generativeai = "*"
python-dotenv = "*"
protobuf = "*"
markdown = "*"
gcloud = "*"
google-genai = "*"
google-cloud-aiplatform = "*"

[dev-packages]

[requires]
python_version = "3.11"
